div.stone {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;

    &.black {
        background-color: black;
    }
    &.white {
        background-color: white;
        border: 0.025rem solid black;
    }
    &.empty {
        height: 64px;
        width: 64px;
    }
}
