div.wrapper {
    margin: 1rem auto;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-size: larger;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: var(--border);

    .title {
        font-size: 3rem;
        margin: 1rem;
        font-weight: 700;
    }

    form {
        p {
            margin: 0;
            margin-top: 0.5rem;
        }

        input {
            font-size: larger;
            box-sizing: border-box;
            font-size: larger;
            width: 100%;

            &.text {
            }
            &.button {
                background-color: var(--primary-color);
                margin-top: 0.5rem;
                border: var(--border);
                border-radius: var(--border-radius);
                padding: 0.5rem;
            }
        }
    }
}

div.waitingScreen {
    .title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .pass {
        font-weight: 500;
    }
}

div.progress {
    margin-top: 1rem;

    width: 60%;
    height: 0.5rem;
    background-color: var(--primary-color);
    animation: progressBar 5s linear infinite;
    background: linear-gradient(
        to left,
        var(--primary-color),
        var(--secondary-color)
    );
    border-radius: var(--border-radius);
}
@keyframes progressBar {
    from {
        width: 0%;
    }
    50% {
        width: 60%;
    }
    to {
        width: 0%;
    }
}
